In [107]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [189]:
df_gps2= pd.read_csv(r"f:\archive (3)\googleplaystore.csv")
df_gps2.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up

In [190]:
type(df_gps2)

pandas.core.frame.DataFrame

In [191]:
df_gps2.shape

(10841, 13)

In [192]:
df_gps2.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [193]:
df_gps2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [194]:
df_gps2.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [195]:
df_gps2['Rating']=df_gps2['Rating'].fillna(0)

In [196]:
df_gps2.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       8
Android Ver       3
dtype: int64

In [200]:
df_gps2['Installs'] = (
    df_gps2['Installs']
    .str.replace('+', '', regex=False)
    .str.replace(',', '', regex=False)
    .str.replace(',', '', regex=False)
    .replace('0', '',regex=False)
    .str.replace('Free','00')
    .replace('',np.nan,regex=False)
)

In [201]:
df_gps2['Installs']= df_gps2['Installs'].fillna(0)

In [202]:
df_gps2['Installs']=df_gps2['Installs'].astype(float)

In [203]:
df_gps2['Size'] = (
    df_gps2['Size']
    .str.replace('M', '000000', regex=False)
    .str.replace('k', '000', regex=False)
    .str.replace('Varies with device', '0', regex=False)
    .str.replace('.', '', regex=False)
    .replace('1,000+', '1000')
)

In [204]:
df_gps2['Size']=df_gps2['Size'].astype(float)

In [205]:
df_gps2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          10841 non-null  float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  float64
 5   Installs        10841 non-null  float64
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(3), object(10)
memory usage: 1.1+ MB

In [206]:
df_gps2['Type']= df_gps2['Type'].replace('Free','nan').replace('nan',0)

In [207]:
df_gps2['Type']= df_gps2['Type'].fillna(0)

In [208]:
df_gps2['Type'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10841 entries, 0 to 10840
Series name: Type
Non-Null Count  Dtype
--------------  -----
10841 non-null  object
dtypes: object(1)
memory usage: 84.8+ KB

In [209]:
df_gps2['Type'].unique()

array([0, 'Paid', '0'], dtype=object)

In [210]:
df_gps2['Price'] = df_gps2['Price'].str.replace('$','')

In [211]:
df_gps2['Price']=df_gps2['Price'].str.replace("Everyone",'0')

In [212]:
df_gps2['Price']=df_gps2['Price'].astype(float)

In [213]:
df_gps2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          10841 non-null  float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  float64
 5   Installs        10841 non-null  float64
 6   Type            10841 non-null  object
 7   Price           10841 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(4), object(9)
memory usage: 1.1+ MB

In [214]:
df_gps2 = df_gps2.drop(index=10472)

In [215]:
df_gps2['Reviews']=df_gps2['Reviews'].astype(float)

In [216]:
df_gps2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          10840 non-null  float64
 3   Reviews         10840 non-null  float64
 4   Size            10840 non-null  float64
 5   Installs        10840 non-null  float64
 6   Type            10840 non-null  object
 7   Price           10840 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(5), object(8)
memory usage: 1.2+ MB

In [217]:
df_gps2.describe()

             Rating       Reviews          Size      Installs         Price
count  10840.000000  1.084000e+04  1.084000e+04  1.084000e+04  10840.000000
mean       3.621771  4.441529e+05  3.287474e+07  1.546434e+07      1.027368
std        1.514563  2.927761e+06  2.701199e+07  8.502936e+07     15.949703
min        0.000000  0.000000e+00  0.000000e+00  0.000000e+00      0.000000
25%        3.700000  3.800000e+01  1.300000e+07  1.000000e+03      0.000000
50%        4.200000  2.094000e+03  2.700000e+07  1.000000e+05      0.000000
75%        4.500000  5.477550e+04  5.000000e+07  5.000000e+06      0.000000
max        5.000000  7.815831e+07  1.000000e+08  1.000000e+09    400.000000

In [218]:
df_gps2['Popularity'] = df_gps2['Reviews']*df_gps2['Reviews']

In [219]:
df_gps2.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Popularity
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19000000.0,10000.0,0,0.0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up,2.528100e+04
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,14000000.0,500000.0,0,0.0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up,9.350890e+05
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,87000000.0,5000000.0,0,0.0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up,7.658000e+09

In [220]:
df_gps2['Price'].unique()

array([  0.  ,   4.99,   3.99,   6.99,   1.49,   2.99,   7.99,   5.99,
         3.49,   1.99,   9.99,   7.49,   0.99,   9.  ,   5.49,  10.  ,
        24.99,  11.99,  79.99,  16.99,  14.99,   1.  ,  29.99,  12.99,
         2.49,  10.99,   1.5 ,  19.99,  15.99,  33.99,  74.99,  39.99,
         3.95,   4.49,   1.7 ,   8.99,   2.  ,   3.88,  25.99, 399.99,
        17.99, 400.  ,   3.02,   1.76,   4.84,   4.77,   1.61,   2.5 ,
         1.59,   6.49,   1.29,   5.  ,  13.99, 299.99, 379.99,  37.99,
        18.99, 389.99,  19.9 ,   8.49,   1.75,  14.  ,   4.85,  46.99,
       109.99, 154.99,   3.08,   2.59,   4.8 ,   1.96,  19.4 ,   3.9 ,
         4.59,  15.46,   3.04,   4.29,   2.6 ,   3.28,   4.6 ,  28.99,
         2.95,   2.9 ,   1.97, 200.  ,  89.99,   2.56,  30.99,   3.61,
       394.99,   1.26,   1.2 ,   1.04])

In [221]:
df_gps2['Affordable'] = np.where(df_gps2['Type'] == 'Paid' , np.where(df_gps2['Price'] > 394.99, 'Yes', 'No'), 'N/A')

In [222]:
df_gps2.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Popularity,Affordable
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19000000.0,10000.0,0,0.0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up,2.528100e+04,N/A
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,14000000.0,500000.0,0,0.0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up,9.350890e+05,N/A
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,87000000.0,5000000.0,0,0.0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up,7.658000e+09,N/A

In [225]:
df_gps2['Reviews']=(df_gps2['Reviews']-df_gps2['Reviews'].min())/(df_gps2['Reviews'].max()-df_gps2['Reviews'].min())

In [226]:
df_gps2.describe()

,Rating,Reviews,Size,Installs,Price,Popularity
count,10840.000000,1.084000e+04,1.084000e+04,1.084000e+04,10840.000000,1.084000e+04
mean,3.621771,5.682734e-03,3.287474e+07,1.546434e+07,1.027368,8.768263e+12
std,1.514563,3.745937e-02,2.701199e+07,8.502936e+07,15.949703,1.610362e+14
min,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
25%,3.700000,4.861927e-07,1.300000e+07,1.000000e+03,0.000000,1.444000e+03
50%,4.200000,2.679178e-05,2.700000e+07,1.000000e+05,0.000000,4.384836e+06
75%,4.500000,7.008276e-04,5.000000e+07,5.000000e+06,0.000000,3.000356e+09
max,5.000000,1.000000e+00,1.000000e+08,1.000000e+09,400.000000,6.108721e+15

In [227]:
df_gps2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10840 entries, 0 to 10840
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          10840 non-null  float64
 3   Reviews         10840 non-null  float64
 4   Size            10840 non-null  float64
 5   Installs        10840 non-null  float64
 6   Type            10840 non-null  object
 7   Price           10840 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
 13  Popularity      10840 non-null  float64
 14  Affordable      10840 non-null  object
dtypes: float64(6), object(9)
memory usage: 1.3+ MB

In [228]:
len(df_gps2[(df_gps2['Type'] == 'Paid') & (df_gps2['Price'] > 17.99)])

56

In [234]:
len(df_gps2[(df_gps2['Category'] == 'Game') & (df_gps2['Price'] < 89.99)])

0

In [235]:
dfok=df_gps2

In [236]:
df_gps2.to_csv('df_gps2_Googleplay_Store.csv')

In [239]:
df=pd.read_csv(r'df_gps2_Googleplay_Store.csv')
df

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Popularity,Affordable
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,2.034333e-06,19000000.0,10000.0,0,0.0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up,2.528100e+04,NaN
1,1,Coloring book moana,ART_AND_DESIGN,3.9,1.237233e-05,14000000.0,500000.0,0,0.0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up,9.350890e+05,NaN
2,2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,1.119651e-03,87000000.0,5000000.0,0,0.0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up,7.658000e+09,NaN
3,3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,2.759067e-03,25000000.0,50000000.0,0,0.0,Teen,Art & Design,8-Jun-18,Varies with device,4.2 and up,4.650233e+10,NaN
4,4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,1.237233e-05,28000000.0,100000.0,0,0.0,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up,9.350890e+05,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10835,10836,Sya9a Maroc - FR,FAMILY,4.5,4.861927e-07,53000000.0,5000.0,0,0.0,Everyone,Education,25-Jul-17,1.48,4.1 and up,1.444000e+03,NaN
10836,10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,5.117818e-08,36000000.0,100.0,0,0.0,Everyone,Education,6-Jul-18,1,4.1 and up,1.600000e+01,NaN
10837,10838,Parkinson Exercices FR,MEDICAL,0.0,3.838364e-08,95000000.0,1000.0,0,0.0,Everyone,Medical,20-Jan-17,1,2.2 and up,9.000000e+00,NaN
10838,10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,1.458578e-06,0.0,1000.0,0,0.0,Mature 17+,Books & Reference,19-Jan-15,Varies with device,Varies with device,1.299600e+04,NaN
10839,10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,5.096157e-03,19000000.0,10000000.0,0,0.0,Everyone,Lifestyle,25-Jul-18,Varies with device,Varies with device,1.586485e+11,NaN